<div class="container">

	<!-- LOGO -->
	<div class="row">
			<%= image_tag "logo.png" %>
	</div>
	
	<!-- FREE IMAGE -->
	<div class="row" id="free">
		<%= image_tag "free.png" %>
	</div>
	
	<!-- STEP 1 -->
	<div class="row step">
		<div class="span2 offset2">
			<%= image_tag "1.png" %>
		</div>
		
		<div class="span12">
			<h1>Vote if you like Weekly Eats below</h1>
		</div>
	</div>
	
	<!-- STEP 2 -->
	<div class="row step">
		<div class="span2 offset2">
			<%= image_tag "2.png" %>
		</div>
		
		<div class="span12">
			<h1>Enter your email address in the textbox</h1>
		</div>
	</div>
	
	<!-- EMAIL -->
	<div class="row">
		<%= form_tag "/confirm", :id => "emailform" do %>
			<input type="text" name="email" id="email" />
			<button class="btn success disabled" disabled="disabled" id="emailbtn">Submit</button>
		<% end %>
	</div>
	
	<!-- VOTE -->
	<div class="row">
		<iframe src="http://promoshq.wildfireapp.com/website/6/contests/171629/voteable_entries/37007273" id="votepage" width="1200px" height="1200px" scrolling="no" frameborder="0" onload="increment_reload()"></iframe>
	</div>
	<br>
	
	<div class="row">
		<p>If you like the Weekly Eats idea and help us win the global startup battle by giving WE your vote, you will be entered into a prize drawing for a 32gb SanDisk Cruzer usb flash / thumb drive. The winner will be selected at random at 12 am est on the 29th of October, and will be emailed for details on where to ship the prize the usb memory stick. The prize will specifically be a <a href='http://www.amazon.com/SanDisk-Cruzer-Flash-Drive-SDCZ36-032G-A11/dp/B001T9CTS2'>Sandisk Cruzer 32 GB memory stick</a>. To be eligible to be shipped the usb stick, you must be located in the United States of America. If you are not located in the USA, you may arrange to pick up the usb flash drive. If you have any questions about the sweepstakes for the free usb flash memory drive, please email weads2011@gmail.com</p>
	</div>
</div>