<!DOCTYPE html>
<html>
<head>
  <title>Win a FREE 32 GB SanDisk Flash Drive by Voting for Startup Battle</title>
  <meta name="description" content = "Win a free SanDisk 32 gb usb flash drive by voting for Weekly Eats in the Global Startup Battle.">
  <meta name="keywords" content ="memory stick,usb drive,usb drives,usb pen drive,usb stick,pen drives,usb flash drives,flash drive,usb memory stick,usb flash disk,usb memory sticks,cheap flash drives,cheap usb flash drives,usb sticks,kingston usb,kingston flash drive,free usb,free usb drive,8gb flash drive,free flash drive,4gb usb,8gb usb flash drive,16gb flash drive,8gb usb stick,64gb flash drive,32gb flash drive,16gb usb,32gb usb flash drive,16gb usb stick,usb 16gb,free 32gb thumb drive,free 32gb usb flash drive,free 32gb flash drive,vote for global startup battle">	
  <%= stylesheet_link_tag 	 "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %> 
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <script type="text/javascript">
	var a = 0;
	function increment_reload()
	{
		a = ++a;
		if(a >= 2)
		{
			var fr = document.getElementById("votepage");
			fr.style.display="none";
			
			$("#emailbtn").removeClass('disabled');
			$("#emailbtn").removeAttr('disabled');
		}	
	}
  </script>

  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
